.builderPage{
  display: flex;
}

.customise{
  width: 50%;
  margin: 10px 5px;
  border-radius: 10px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.158);
  height: 80vh;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customiseCard{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.infoTab{
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  cursor: pointer;
  padding: 8px;
  border: 0;
  margin: 5px;
}

.active{
  margin: 20px;
}

.hidden{
  display: none;
}

.detailTab{
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  border-radius: 10px;
}

.inputField{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.inputField input{
  padding: 5px 10px;
}

.inputField textarea{
  height: 100px;
  padding: 5px 10px;
}

textarea:focus{
  outline: none;
}

.addButton{
  padding: 8px 10px;
  border: 0;
  background-color: limegreen;
  border-radius: 5px;
  cursor: pointer;
}