*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

h1{
	font-size: 36px;
	font-weight: 600;
}

p{
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

li{
  list-style-type: none;
}

.navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  min-height: 40px;
  display: flex;
  justify-content: space-between;
}

.navLogo{
  padding: 10px 40px;
  width: 60px;
  height: 50px;
}

.nav-links ul{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 40px;
}
.nav-links ul li{
  padding: 10px 20px;
}

.nav-links ul li a::after{
  content: "";
  width: 0%;
  background-color: orangered;
  display: block;
  height: 2px;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li a:hover::after{
  width: 100%;
}

.header{
  min-height: 100vh;
	background-position: center;
	background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1{
	font-size: 62px;
}

.header p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: white;
}

.btn{
  padding: 15px 30px;
  border: 1px solid white;
  transition: 0.3s;
}

.btn:hover{
  border: 1px solid orangered;
  background-color: orangered;
}

.headerDetail{
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerDetail h1{
  margin: 10px;
}

.headerDetail p{
  text-align: center;
}

.templateDisplay img{
  height: 275px;
  width: 175px;
  margin: 10px 20px;
}

.headerFeatures{
  display: flex;
  justify-content: space-around;
}

.featureCard{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featureCard img{
  width: 100px;
  height: 100px;
}

.featureCard p{
  text-align: center;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer hr{
  width: auto;

}
.footer p{
  text-align: center;
  padding: 15px;
	font-size: 25px;
	font-weight: 500;
}

.loginPage{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard{
  width: 40vw;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.096);
}

.inputSection{
  display: flex;
  margin: 10px 0px;
}

.imgWrapper{
  background-color: rgba(128, 128, 128, 0.247);
}

.imgWrapper img{
  padding: 10px 20px;
  width: 20px;
  height: 20px;
}

.inputSection input{
  width: 100%;
  background-color: rgba(128, 128, 128, 0.247);
  border: 0;
  padding: 10px 20px;
}

input:focus{
  outline: none;
}

.loginBtn{
  background-color: rgba(0, 0, 0, 0.096);
  width: 80%;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.form{
  margin: 80px 80px;
}

.dropMenu{
  width: 100%;
}

.formDropdown{
  padding: 20px 30px;
  margin: 20px 0;
  width: auto;
  border: 1px solid black;
}

.droppedForm{
  display: none;
  padding: 10px 20px;
}

.droppedForm input{
  width: 80%;
  border: 1px solid black;
  padding: 10px 20px;
  transition: 0.3s;
}

.open{
  display: block;
  transition: 0.3s;
}